h1{
  text-align: center;
}
#inputSection{
  display: flex;
  justify-content: center;
}
#inputSection > fieldset{
  width: 750px;
}
label {
  display: inline-block;
  text-align: center;
  width: 70px;
}
input {
  width: 200px;
}
#ulList{
  display : grid;
  grid-template-columns: repeat(3,1fr);
}
ul {
  list-style: none;
  margin: 0;
  padding :0;
}
li {
  margin-bottom:5px;
}
li > div{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px dotted black;
  border-right: 1px dotted black;
}
li > div:nth-child(1){
  background-color: gainsboro;
}
li > div:nth-child(2){
  background-color: wheat;
}
li > div:nth-child(3){
  background-color: gold;
}
li > div:nth-child(4){
  background-color: tomato;
}
li > div:nth-child(5){
  background-color: dodgerblue;
}
li > div:nth-child(6){
  background-color: olivedrab;
}

@media (min-width: 768px){
  #ulList {
    grid-template-columns: repeat(4,1fr);
  }
}

@media (min-width: 1024px){
  #ulList {
    grid-template-columns: repeat(6,1fr);
  }
}