#inputSection > fieldset{
  background-color: lightsalmon; 
}
.inputGrid{
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
}
.inputData {
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: 1fr;
}
.gameLabel{
  background-color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 5px 9px 0px 4px;
  border: 1px solid black; 
  height: 26px;
}
.inputData > input{
  margin: 5px 9px 0px 4px;
  height: 23px;
}
.inputData > select {
  margin: 5px 9px 0px 4px;
  height: 25px;
}
.inputImg {
  margin: 5px 9px 0px 4px;
  height: 150px;
}
.inputImg > img {
  width: 100%;
  height: 100%;
}
.btn{
  margin: 5px 7px 0px 4px;
  float: right;
}
.btn:first-child{
  margin-left: auto;
}
.btn > button {
  height: 30px;
  width: 70px;
  background-color: greenyellow;
  border: none;
  margin: 4px;
}

#listSection > fieldset{
  background-color: cornflowerblue;
}
legend {
  background-color: white;
  border: 1px solid black;
}
.order{
  display: grid;
  gap: 4px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-auto-rows: 1fr;
  margin-bottom: 5px;
}
.game {
  display: grid;
  gap: 4px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-auto-rows: 1fr;
  margin-bottom: 5px;
}
.gameItem{
  display: inline-flex;
  border: 1px solid black;
  background-color: lightgray;
  height: 30px;
  align-items: center;
}
.gameItem >div{
  margin-left: 2px;
}